@media(min-width: 1024px) {

    body{
        padding: 200px 0 0 0;
    }
    .container{
        width: 500px;
        display: flex;
        margin: auto;
    }

    .container .img{
        width: 300px;
        height: 500px;
        border-radius: 40px 0 0 30px;
        object-fit: cover;
    }

    .informacoes{
        margin: 30px 20px 0 0;
        font-size: 10px;
    }
}